version: 2.1
workflows:
  build:
    jobs:
      - test
jobs:
  test:
    docker:
      - image: golang:1.25.7@sha256:011d6e21edbc198b7aeb06d705f17bc1cc219e102c932156ad61db45005c5d31
    steps:
      - checkout
      - run:
          name: go mod download
          command: go mod download
      - run:
          name: test
          command: go test -race -covermode=atomic ./...
