version: 2.1
workflows:
  build:
    jobs:
      - test
jobs:
  test:
    docker:
      - image: golang:1.22.6@sha256:2bd56f00ff47baf33e64eae7996b65846c7cb5e0a46e0a882ef179fd89654afa
    steps:
      - checkout
      - run:
          name: go mod download
          command: go mod download
      - run:
          name: test
          command: go test -race -covermode=atomic ./...
