version: 2.1
workflows:
  build:
    jobs:
      - test
jobs:
  test:
    docker:
      - image: golang:1.25.5@sha256:20b91eda7a9627c127c0225b0d4e8ec927b476fa4130c6760928b849d769c149
    steps:
      - checkout
      - run:
          name: go mod download
          command: go mod download
      - run:
          name: test
          command: go test -race -covermode=atomic ./...
